/** Generic Styles **/

@grey: #252621;
@white: #ffffff;

@font-face {
	font-family: "chaco";
	src: url('/static/v1/fonts/medium.otf') format("opentype");
}

@font-face {
	font-family: "thin";
	src: url('/static/v1/fonts/thin.otf') format("opentype");
}

@font-face {
	font-family: "minion";
	src: url('/static/v1/fonts/minion.otf') format("opentype");
}

body{
	text-shadow: none;
	font-family: "thin" !important;
	color: @white !important;
}

h1,h2,h3 {
	font-family: "thin" !important;
	color: @white !important;
}



.chaco {font-family: "chaco"; }

.thin {	font-family: "thin";}

.minion {font-family: "minion";}


.page {
	height: 100%;

}

.border {
	border:1px solid red;
} 


/** Welcome page **/

#screensaver {
	height:100%;
	background-image: url("/static/v1/img/welcomepage.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	padding: 0px;
}

#screensaver div {
	color: @white;
	display: inline-block;
	position: absolute;
}

#welcome-banner {
	font-size: 200%;
	padding: 30px 30px 30px 30px;
	top: 100px;
	background : @grey;
	opacity: 0.7;
	text-align: left;
}

#welcome-time {
	bottom: 0;
	right: 0;
	text-align: right;
	padding: 30px;

}

#welcome-time #time {
	font-size: 800%;
	margin: 0px 0px 10px 0px;

}

#welcome-time #date {
	font-size: 300%;
	margin: 0px 0px 10px 0px;

}

#welcome-time #touch {
	font-size: 150%;
	color: @grey;
	margin: 0px 0px 10px 0px;

}


/** header styles **/

#main-header {
	position: relative;
	height: 80px;
	background: @white;
	opacity: 0.85;
	color: @grey;
	text-shadow: none;
}

#main-header img {
	position: absolute;
	margin: 20px 0px 20px 20px;
	height: 40px;
	width: auto;
}

#main-links {
	position: absolute;
	left: 300px;
	margin:10px;

}

#main-links a {
	
	float:left;
	padding:0px 20px 0px 20px;
	margin-top: 20px;
	border-left: 2px solid @grey;
	text-decoration: none;
	color: @grey !important;
}

#main-links a {

}

#main-time {
	float:right;
	margin:20px;
	text-align: right;

}

#main-time span {
	font-size: 130%;
}


#main-time p {
	margin: 0;
}

/* master plan styles */

#masterplan2 {
	width: 1920px;
	height: 1020px;
	background-image: url("/static/v1/img/scale169.jpg");
	background-size: 1920px;
	background-repeat: no-repeat;
	position: relative;
	

}

.abs {position: absolute;}

.rel {position:relative;}


#masterplan-main-container {
	height: 100%;
	width: 100%;
	.rel;
}

.head, .zoom-container {
	.abs;
}

.head {
	
	text-align: center;
}

.zoom-container {
	
}

#head1 {
	left:600px;
	top:250px;
}

#head2 {
	right: 250px;
	top:250px;
}

#head3 {
	right: 500px;
	bottom: 250px;
}

#head4 {
	left:400px;
	bottom: 300px;
}

#zoom-container1 {
	.abs;
	width: 800px;
	height: 450px;
	.border;
	left:215px;
	top: 35px;
}




/** timeline styles **/


/** about us  **/