<div class="page" data-role="page" id="masterplan2"> 


	{% include "v1/topbar.html" %}



	<div data-role="content" id='masterplan-main-container'>

		<img src="/static/v1/img/map/Kentridgecampustitle.png" id="kentridge-subtitle">

		<!--  Zoom Continer 1 -->
		<div class="zoom-container" id="zoom-container1">

			

			<div class="sidebar" id="zoom1-sidebar">
				<h1>Precinct Master Plan 1</h1>
				<div>
					The fundamental principle of the Campus Master Plan is to combine SoM, FoD and FoS with NUH at master plan level to realize the formation of an Academic Medical Centre (AMC) that synergizes Clinics, Translational Research, Teaching and Multi-disciplinary Basic Sciences in the hope of creating an environment where new knowledge is founded, new treatment is provided and new expert-scientists are trained.
				</div>

				<p class="close" id="close1">
					<img src="/static/v1/img/back.png">
				<span> Back to Campus Map</span>
				</p>
			</div>

			<div class="content" id="zoom1-content">
				<div class="grey bubble" id="signage">
					<div class="bubble-table">
						<span class="bubble-text">Signage</span>
					</div>
				</div>

				<div class="grey bubble" id="orientation">
					<div class="bubble-table">
						<span class="bubble-text">Orientation</span>
					</div>
				</div>

				<div class="grey bubble" id="memory">
					<div class="bubble-table">
						<span class="bubble-text">Memory <br> Spots</span>
					</div>
				</div>

				<div class="grey bubble" id="activity">
					<div class="bubble-table">
						<span class="bubble-text">Activity <br> Nodes</span>
					</div>
				</div>


				<div class="grey bubble" id="campus">
					<div class="bubble-table">
						<span class="bubble-text">Campus <br> Gateways</span>
					</div>
				</div>




				<div class="grey bubble" id="academic">
					<div class="bubble-table">
						<span class="bubble-text">Academic <br> Green</span>
					</div>
				</div>



				<div class="grey bubble" id="newBuildings">
					<div class="bubble-table">
						<span class="bubble-text">New <br> Buildings</span>
					</div>
				</div>

				<div class="grey bubble" id="carparking">
					<div class="bubble-table">
						<span class="bubble-text">Carparking</span>
					</div>
				</div>

				<div class="grey bubble" id="amc">
					<div class="bubble-table">
						<span class="bubble-text">AMC <br> Gestures</span>
					</div>
				</div>

				<div class="grey bubble" id="circulation">
					<div class="bubble-table">
						<span class="bubble-text">Circulation</span>
					</div>
				</div>


				<div class="grey bubble" id="lt">
					<div class="bubble-table">
						<span class="bubble-text">LT & Study Areas</span>
					</div>
				</div>


				<div class="grey bubble" id="architect">
					<div class="bubble-table">
						<span class="bubble-text">Architectural Expression</span>
					</div>
				</div>

				

				<div class="green bubble" id="goals">
					<div class="bubble-table">
						<span class="bubble-text">Goals</span>
					</div>
				</div>

				<div class="green bubble" id="analysis">
					<div class="bubble-table">
						<span class="bubble-text">Analysis</span>
					</div>
				</div>

				<div class="green bubble" id="phases">
					<div class="bubble-table">
						<span class="bubble-text">Phases</span>
					</div>
				</div>

				<div class="green bubble" id="sustainability">
					<div class="bubble-table">
						<span class="bubble-text">Sustainability</span>
					</div>
				</div>
			</div>

			

			<div id="sustainability-div">
				<div class="sidebar" id="sustainability-sidebar">
					<h1>Sustainability</h1>
					<div>With that understanding, we consider questions about how to meet the future plans for development on the campus in a way that is in balance with nature and user patterns, and that is economically feasible over the long term of the campus. </div>
					<p class="close" id="sustainability-close"> 
						<img src="/static/v1/img/back.png">
						<span>Back</span>
					</p>
				</div>


				<div class="content" id="sustainability-content">
					<div id="energy-efficiency-div" class="main-green-point-div">
						<img src="/static/v1/img/map/Energyefficiency.png" data-click="energy" data-next="monitoring" data-back="alternative" id="sub-energy" class="main-green-point">  
						<img src="/static/v1/img/map/monitoring.png" data-click="monitoring" id="sub-monitoring" class="sub-grey-point sa">
						<img src="/static/v1/img/map/design.png" data-click="design" id="sub-design" class="sub-grey-point ta">
						<img src="/static/v1/img/map/natural.png" data-click="natural" id="sub-natural" class="sub-grey-point sa">
						<img src="/static/v1/img/map/alternative.png" data-click="alternative" id="sub-alternative" class="sub-grey-point ta">
					</div>


					<div id="waste-management-div" class="main-green-point-div">
						<img src="/static/v1/img/map/wastemanagement.png" data-click="waste" id="sub-waste" class="main-green-point"> 
						<img src="/static/v1/img/map/reuse.png" data-click="reuse" id="sub-reuse" class="sub-grey-point sa"> 
						<img src="/static/v1/img/map/recycling.png" data-click="recycle" id="sub-recycle" class="sub-grey-point ta"> 
						<img src="/static/v1/img/map/disposal.png" data-click="disposal" id="sub-disposal" class="sub-grey-point sa"> 
					</div>

					<div id="water-conservation-div" class="main-green-point-div">
						<img src="/static/v1/img/map/Waterconservation.png" data-click="water" id="sub-water" class="main-green-point"> 
						<img src="/static/v1/img/map/applications.png" data-click="applications" id="sub-applications" class="sub-grey-point ta"> 
						<img src="/static/v1/img/map/storage.png" data-click="storage" id="sub-storage" class="sub-grey-point ta"> 
						<img src="/static/v1/img/map/sources.png" data-click="sources" id="sub-sources" class="sub-grey-point sa"> 
						-
					</div>
				</div>


				<div id="zoom1-modal">
					<div class="modal-close"><span>x</span></div>
					<div class="modal-content">
						<h1>Title</h1>
						<div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
						
					</div>
					<div class="modal-image">
						<img></div>
					<div class="modal-control">
						<img src="/static/v1/img/map/back.png">
						<span>1/5</span>
						<img src="/static/v1/img/map/next.png">
					</div>

				</div>

			</div>

			<!-- Sub Zoom 1

				<div class="sub-zoom-container" id="sub-zoom-container1">
					<div class="sidebar">
						<h1>Sustainability</h1>
						<div>
							“With that understanding, we consider questions about how to meet the future plans for development on the campus in a way that is in balance with nature and user patterns, and that is economically feasible over the long term of the campus”
						</div>
						<p id="close2">Back to PMP 1</p>
					</div>

					<div class="content">
						<div class='s-bubble grey' id="s-bubble1">Environmental Protection</div>
						<div class='s-bubble grey' id="s-bubble2">Materials Efficiency</div>
						<div class='s-bubble grey' id="s-bubble3">Water Conservation</div>

						
						

						<div id="modal1">
							<div id="modal-close">
								X
							</div>
							<div id="modal-title"></div>
							<div id="modal-content"> 
								Content
							</div>
							<img id="modal-image" src="">	
						</div>
					</div>

				</div>

			-->


		</div>

		<!-- End Zoom Container 1 -->


		<!-- Zoom Container Headings -->

		<div class="head" id="head1"><h1>Precinct <br> Master Plan <br> 1</h1></div>
		<div class="head" id="head2"><h1>Precinct <br> Master Plan <br> 2</h1></div>
		<div class="head" id="head3"><h1> Precinct <br> Master Plan <br> 3</h1></div>
		<div class="head" id="head4"><h1>University <br> Town</h1></div>


		<!-- End Zoom Container Headings -->


	</div>
</div>