<div  class="page" data-role="page" id="masterplan2"> 


	{% include "v1/topbar.html" %}



	<div data-role="content" id='masterplan-main-container'>

		<div class="zoom-container" id="zoom-container1">
			Something here
		</div>

		<div class="head" id="head1"><h1>Precinct Master Plan 1</h1></div>
		<div class="head" id="head2"><h1>Precinct Master Plan 2</h1></div>
		<div class="head" id="head3">
			<h1> Precinct Master Plan 3</h1>
			<p class="thin">(under development)</p>
		</div>
		<div class="head" id="head4"><h1>University Town</h1></div>





		

	</div>
</div>