<div class="page" data-role="page" id="masterplan2"> 


	{% include "v1/topbar.html" %}



	<div data-role="content" id='masterplan-main-container'>
		<!--  Zoom Continer 1 -->
		<div class="zoom-container" id="zoom-container1">

			<div class="sidebar">
				<h1>Precinct Master Plan 1</h1>
				<div>
					The fundamental principle of the Campus Master Plan is to combine SoM, FoD and FoS with NUH at master plan level to realize the formation of an Academic Medical Centre (AMC) that synergizes Clinics, Translational Research, Teaching and Multi-disciplinary Basic Sciences in the hope of creating an environment where new knowledge is founded, new treatment is provided and new expert-scientists are trained.
				</div>

				<p class="close" id="close1"> Back to Campus Map</p>
			</div>

			<div class="content">
				<div class="grey bubble" id="grey1">Circulation</div>
				<div class="green bubble" id="green1">Phases</div>
				<div class="grey bubble" id="grey2">Signage</div>
				<div class="green bubble" id="green2">Analysis</div>
				<div class="grey bubble" id="grey3">Carparking</div>
				<div class="green bubble" id="green3">Sustainability</div>
			</div>

			<div class="sub-zoom-container" id="sub-zoom-container1">
				<div class="sidebar">
					<h1>Sustainability</h1>
					<div>
						“With that understanding, we consider questions about how to meet the future plans for development on the campus in a way that is in balance with nature and user patterns, and that is economically feasible over the long term of the campus”
					</div>
					<p id="close2">Back to PMP 1</p>
				</div>

				<div class="content">
					<div class='s-bubble grey' id="s-bubble1">Environmental Protection</div>
					<div class='s-bubble grey' id="s-bubble2">Materials Efficiency</div>
					<div class='s-bubble grey' id="s-bubble3">Water Conservation</div>

					
					<!-- <div class='s-bubble grey' id="s-bubble4"></div> -->

					<div id="modal1">
						<div id="modal-close">
							X
						</div>
						<div id="modal-title"></div>
						<div id="modal-content"> 
							Content
						</div>
						<img id="modal-image" src="">	
					</div>
				</div>

			</div>


		</div>

		<!-- End Zoom Container 1 -->


		<!-- Zoom Container Headings -->

		<div class="head" id="head1"><h1>Precinct Master Plan 1</h1></div>
		<div class="head" id="head2"><h1>Precinct Master Plan 2</h1></div>
		<div class="head" id="head3">
			<h1> Precinct Master Plan 3</h1>
			<p class="thin">(under development)</p>
		</div>
		<div class="head" id="head4"><h1>University Town</h1></div>


		<!-- End Zoom Container Headings -->


	</div>
</div>