<div  class="page" data-role="page" id="masterplan"> 


	{% include "v1/topbar.html" %}


	<div data-role="content">


		<div id="mz1" class="mz">



			<div id="mz1-title" class="mz-title">
				<h1>Precinct Master Plan 1</h1>
			</div>
			
			<div id="mz1-sidebar" class="mz-sidebar">

				<h1>Precinct Master Plan 1</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ultrices vestibulum. Nulla molestie urna turpis. Aenean lobortis vehicula magna vitae condimentum. Proin sit amet nulla libero, et suscipit odio. Fusce id rutrum libero. Nunc sed sapien nunc. Quisque ultrices, tortor at eleifend tempus, orci leo rhoncus nunc, sodales tempus libero dolor nec turpis. Pellentesque sapien mauris, feugiat id sodales vel, suscipit venenatis metus.
				</p>

				<p id="mz1-close" class="mz-close">
					<img src="/static/v1/img/back.png">
					Back to Campus Map
				</p>

			</div>
			<div id="overlay">
				<a href="#" id="overlay-close"> X </a>
				<h1>Goals</h1>
			</div>

			<div id="mz1-content" class="mz-content">

				


				<div class="sz" id="sz-sustain">
					<div class="sz-title sz-green-bubble" id="sz-sustain-title">
						Sustainability
					</div>

					<div class="sz-sidebar">
						<h1>SUSTAINABILITY</h1>
						<P>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ultrices vestibulum. Nulla molestie urna turpis. Aenean lobortis vehicula magna vitae condimentum. Proin sit amet nulla libero, et suscipit odio. Fusce id rutrum libero.
						</P>


						<p id="sz-sustain-close" class="sz-close">
							<img src="/static/v1/img/back.png">
							Back to PMP1
						</p>
					</div>

					<div class="sz-content">
						<div class="sz-grey-bubble" id="sz-b1"> 
							Materials Efficiency
						</div>
						<div class="sz-grey-bubble" id="sz-b2">Green Features</div>
						<div class="sz-grey-bubble" id="sz-b3">Air Flow</div>

					</div>
				</div>


				<div class="sz-large-grey-bubble" id="fake1">
					Goals
				</div>

				<div class="sz-green-bubble" id="fake2">
					Phases
				</div>

				
			

			</div>
			


		</div>
		
	</div> 
	
</div> 	

