<div id="tb">

	<!-- Left Logo -->
	<div id="tb-logo" class="pull-left">
		<img src="/static/img/tb-logo.png">
	</div>

	<!-- Right icons -->

	<div id="tb-icon-container" class="pull-right">
		<div class="tb-icon">
			<a href="#">
				<i class="icon-home"></i><br>
				<span>History</span>
			</a>
			

		</div>
		<div class="tb-icon">
			<a href ="#">
				<i class="icon-home"></i><br>
				<span>About Us</span>
			</a>
		</div>
		<div class="tb-icon">
			<a href="#" class='active'>
				<i class="icon-map-marker"></i><br>
				<span> Map</span>
			</a>
		</div>
		
		
	</div>
</div>