<html>
<head>
	<title></title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.transit.min.js"></script>
	<script type="text/javascript" src="js/new.js"></script>

	<link rel="stylesheet" type="text/css" href="new.css">
	



<body>

	<div id="earth"> </div>

	<img src="images/x7953_y205_NUSflag1.png" id="flag">

	<img src="images/x8931_y875_parliamenthouse.png" id="parliament">

	


	<div id="bullet1" class="bullet">
		<p class="bullet-box"></p>
		<h1 id="bullet-title"><span style="color:black;">THE HISTORICAL DEVELOPMENT OF</span> <span style="color:brown">KENT RIDGE CAMPUS</span></h1>
		<p class="bullet-text" style="width:700px;">Minister for Ministry of Science and Technology, Dr Toh Chin Chye, initiated with vision the relocation of the University of Singpore from the various campuses to Kent Ridge </p>
		<p class="bullet-line"></p>
		<p class="bullet-year">1960s</p>
	</div> 


	<div id="bullet2" class="bullet">
		<p class="bullet-box"></p>
		<p class="bullet-text">Site in Kent Ridge secured for new campus to provide expansion to the University </p>
		<p class="bullet-line"></p>
		<p class="bullet-year" class="minion">1968</p>

	</div>


	<div id="bullet3" class="bullet">
		<p class="bullet-box"></p>
		<p class="bullet-text"> Dr. Van Embden, Holland prepared first master plan for KR campus</p>
		<p class="bullet-line"></p>
		<p class="bullet-year">1969</p>
	</div> 

	<div id="engineering-section">
		Engineering Section
		<div id="excavator">
			<img src="images/excavator.png" id="ex-body">
			<img src="images/excavatorarm.png" id="ex-arm">
		</div>

		<div id="foundation-section">
			<img src="images/dugoutsoil.png" id="dugoutsoil">
			<img src="images/Foundation.png" id="foundation">
			<img src="images/piles.png" id="piles">
		</div>
	</div>


	


</body>
</html>