<html>
<head>
	<title></title>

	<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.transit.min.js"></script>
	<script type="text/javascript" src="js/new.js"></script>

-->

	<link rel="stylesheet" type="text/css" href="/static/v1/css/timeline.css">
	





<body>

	<!-- <div id="hideAll"></div>
 -->
	

	<div id="main-header">
		<img src="/static/v1/img/logo.png">

		<div id="main-links">
			<!-- <a href="http://127.0.0.1:8000/#masterplan2"><span style="border-right: 2px solid grey;">MASTER PLAN</span></a>
			<a href="#"><span>TIMELINE</span></a>
			<a href="#about"><span>ABOUT UCI</span></a> -->
			<a href="#" id="navbarTimeline"><span style="border-right: 2px solid grey;">MASTERPLAN</span></a>
			<a href=""><span style="border-right: 2px solid grey">HISTORY</span></a>
			<a href="/#masterplan2"><span>MAP</span></a>
		</div>	

		<div id="main-time">
			<span>15:34</span>
			<p>12 April 2013</p>
		</div>
	</div>

	<div id="earth"></div>

	<div id="header1" class="header">
		<h1 class="lbrown">
			NUS <br> CAMPUS <BR> MASTERPLAN
		</h1>

		<SPAN class="dbrown">
			Presented by NUS Office of Campus Infrastructure 

		</SPAN>
	</div>

	<div id="header2" class="header">
		<h1 class="lbrown">AIM</h1>
		<span class="dbrown">To develop a blue print for future development of the campus in such a way that they are semalessly integrated, with closer interaction and collaboration between the staff and students from the 3 zones.</span>
	</div>


	<div id="header3" class="header">
		<h1 class="lbrown">MASTER PLAN</h1>
		<span>Proceed on to Find out about the history of the NUS Campus Master Plan. Click on the interactive map option above to find out more about the concept and plan details.</span>
	</div>
 



	<img src="/static/v1/img/timeline/moving-treea.gif" class="tree" id="tree1">
	<img src="/static/v1/img/timeline/moving-trees.gif" class="tree" id="tree2">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree3">
	<img src="/static/v1/img/timeline/moving-trees.gif" class="tree" id="tree4">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree4">
	<img src="/static/v1/img/timeline/moving-trees.gif" class="tree" id="tree5">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree6">
	<img src="/static/v1/img/timeline/moving-trees.gif" class="tree" id="tree7">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree8">
	<img src="/static/v1/img/timeline/moving-trees.gif" class="tree" id="tree9">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree10">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree11">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree12">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree13">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree14">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree15">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree16">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree17">
	<img src="/static/v1/img/timeline/moving-treea.gif" class="tree" id="tree18">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree19">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree20">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree21">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree22">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree23">
	<img src="/static/v1/img/timeline/moving-trees2.gif" class="tree" id="tree24">



	<img src="/static/v1/img/timeline/x2674_y205_constructionengineer.png" id="construction-engineer">
	<img src="/static/v1/img/timeline/x3568_y205_staff_students.png" id="staff-students">
	

	<img src="/static/v1/img/timeline/x5454_7956_y205_nusflagpole.png" id="flagpole">

	<img src="/static/v1/img/timeline/moving-singaporeflag.gif" id="sing-flag">
	<img src="/static/v1/img/timeline/moving-britishflag.gif" id="brit-flag">


	<img src="/static/v1/img/timeline/statue.png" id='statue'>


	<div id="header4" class="header">
		<h1 class="lbrown">HISTORY</h1>
		<span class="dbrown">
			After the British withdrawal from Singapore in the late sixties, a lot of prime land, prevviously occupied by the British military was returned to the Government.
		</span>
	</div>











	<img src="/static/v1/img/timeline/x7953_y205_NUSflag1.png" id="flag">

	<!-- Parliament House -->

	<img src="/static/v1/img/timeline/x8931_y875_parliamenthouse.png" id="parliament">

	<div id="palmtrees1" class="palmtrees">
		<img src="/static/v1/img/timeline/palmtree-animation(edited).gif">
		<img src="/static/v1/img/timeline/palmtree-animation(edited).gif">
		
	</div>

	<div id="palmtrees2" class="palmtrees">
		<img src="/static/v1/img/timeline/palmtree-animation(edited).gif">
		<img src="/static/v1/img/timeline/palmtree-animation(edited).gif">

	</div>

	<!-- End Parliament House -->

	
	<div id="bullet1" class="bullet">
		<p class="bullet-box"></p>
		<h1 id="bullet-title"><span style="color:black;">THE HISTORICAL DEVELOPMENT OF</span> <span style="color:brown">KENT RIDGE CAMPUS</span></h1>
		<p class="bullet-text" style="width:700px;">Minister for Ministry of Science and Technology, Dr Toh Chin Chye, initiated with vision the relocation of the University of Singpore from the various campuses to Kent Ridge </p>
		<p class="bullet-line"></p>
		<p class="bullet-year">1960s</p>
	</div> 


	<div id="bullet2" class="bullet">
		<p class="bullet-box"></p>
		<p class="bullet-text">Site in Kent Ridge secured for new campus to provide expansion to the University </p>
		<p class="bullet-line"></p>
		<p class="bullet-year" class="minion">1968</p>

	</div>


	<div id="bullet3" class="bullet">
		<p class="bullet-box"></p>
		<p class="bullet-text"> Dr. Van Embden, Holland prepared first master plan for KR campus</p>
		<p class="bullet-line"></p>
		<p class="bullet-year">1969</p>
	</div> 


	<div id="bullet4" class="bullet">
		<p class="bullet-box"></p>
		<p class="bullet-text">Master Plan proposal accepted by cabinet</p>
		<p class="bullet-line"></p>
		<p class="bullet-year">1970</p>
	</div>

	<!-- Crane Section -->

	<div id="crane-section">
		Engineering Section
		<div id="excavator">
			<img src="/static/v1/img/timeline/excavatorbody.png" id="ex-body">
			<img src="/static/v1/img/timeline/excavatorarm.png" id="ex-arm">
		</div>

		<img src="/static/v1/img/timeline/small_earth.jpg" id="small-earth">

		<div id="foundation-section">
			<img src="/static/v1/img/timeline/dugoutsoil.png" id="dugoutsoil">
			<img src="/static/v1/img/timeline/Foundation.png" id="foundation">
			<img src="/static/v1/img/timeline/piles.png" id="piles">
			<div id='crane-div'>
				<img src="/static/v1/img/timeline/crane.png" id="crane">
				<img src="/static/v1/img/timeline/craneload.png" id="craneload">
			</div>
			

		</div>
	</div>

	<!-- End of Crane -->


	<!-- Engineering Buildings -->

	<div id="engineering-buildings">
		<img src="/static/v1/img/timeline/E2block.png" class="e-building" id="e2block">

		<img src="/static/v1/img/timeline/Eblock.png" class="e-building" id="eblock">
		<img src="/static/v1/img/timeline/EAblock.png" class="e-building" id="eablock">
	</div>

	<!-- End of Engineering Buildings -->






	<script src="/static/v1/js/jquery-1.8.3.min.js"></script>
	<script src="/static/v1/js/jquery.transit.min.js"></script>
	<script src="/static/v1/js/timeline.js"></script>
	

	


</body>
</html>